*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.recentCollectionsContainer{
    background-color: #2F3645;
    width: 100%;
    height: 100vh;
}

.cardsRow{
    border: 2px solid red;
    display: flex;
}